body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat", serif;
}

nav {
    background-color: #02A28F;
    padding: 1rem 9.5rem 1rem 9.5rem;
}

h1 {
    font-size: 2.3rem;
    color: #ffffff;
    margin: 0;
}

footer {
    color: #ffffff;
    background-color: #02A28F;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
}

span {
    font-weight: 700;
}

#opinion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 3rem 9.5rem 1rem 9.5rem;
    align-items: center;
    justify-content: center;
}

#opinion-div {
    background: linear-gradient(180deg, rgba(102, 102, 102, 0.295), #000000), url('assets/cidade.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
}

#op-txt {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 25rem 1.5rem 2rem;
}

#post-txt {
    display: flex;
    flex-direction: column;
    margin: 0;
}



#opinion-div p {
    margin: 0;
    padding: 0;
}

#opinion-div h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

#opinion-posts {
    padding: 3rem 1.5rem;
    padding: 0 1.5rem 0 1.5rem;
    height: 31.8rem;
}

#opinion-posts h3 {
    background: #02A28F;
    color: #ffffff;
    font-size: 1.25rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: .6rem;
    margin-top: 0;
}

#posts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: .5rem 9.5rem 1rem 9.5rem;
    align-items: start;
    text-align: center;
    justify-content: start;
}

#cabecalho-cards {
    background-color: #02A28F;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .6rem;
    padding: 0 1.5rem 0 1.5rem;
}

#cabecalho-cards p {
    text-decoration: underline;
}

#categorias h3 {
    background-color: #02A28F;
    color: #ffffff;
    border-radius: .6rem;
    font-size: 1.25rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: .6rem;
    margin: 0 0 0 1.5rem;
}

#posts-recentes {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: .6rem;
}

#categorias-div {
    padding: 1rem 0 0 1.5rem;
}


.row {
    display: flex;
    margin-top: 1.25rem;
    align-items: start;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: .6rem;
    box-shadow: .2rem .2rem 1rem rgb(194, 194, 194), -.2rem .2rem 1rem rgb(194, 194, 194);
}

.row div {
    padding-left: .8rem;
    align-items: start;
}

.row div p {

    padding-top: .5rem;

}

.card {
    margin: 0 .75rem 1.5rem 0.75rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem rgb(194, 194, 194), -.2rem .2rem 1rem rgb(194, 194, 194);
    text-align: start;
}

.card img {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.card-txt {
    padding: 1rem;
}

.card-txt p,
h2 {
    margin: 0;
    padding: 0rem 1rem .5rem 1rem;
}

.p-verde {
    color: #02A28F;
}

.p-cinza {
    color: #616161;
    margin: 0;
}

.categorias-txt {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #616161;
}

.categorias-txt p {
    margin: 0 0 1rem 0;
}

@media only screen and (max-width: 970px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    #opinion {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1.5rem .5rem 1.5rem .5rem;
    }

    #opinion-posts {
        padding: 1rem 0rem 1rem 0rem;
    }

    #posts {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 .5rem 1rem .5rem;
    }

    #posts-recentes {
        display: grid;
        grid-template-columns: 1fr;
    }

    #categorias-div {
        padding: 1rem .5rem 1rem .5rem;
    }

    #categorias h3 {
        margin: 0;
    }
}